# MacOS hidden files
**/.DS_Store

# VS Code settings
.vscode

# ENV
**/.env

# Files built by Rust compiler
/target

# Mdbook
**/book

# Python
**/__pycache__

# Built dist and egg-info files
/dist
/*.egg-info

# Jupyter Notebook
**/.ipynb_checkpoints

# Jupyter Book
**/_build

# Playground
/playground

# Large data directory
/document
/document_exam
/document_chart

# Report directory
/report

# api test file
api_test_command.txt

# test file
**/test.ipynb
**/test.py

# Auxiliary files when compiling LaTeX 
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.idx
**/*.ind
**/*.ilg
**/*.log
**/*.docx
