# MacOS hidden files
.DS_Store

# VS Code settings
.vscode

# config
.env
config.yaml

# Python
/__pycache__

# Playground
/playground

# Large data directory
/doc/document_raw
/doc/document_exam
/doc/document_chart
/doc/document_txt
/doc/knowledge
/qdrant_storage

# command file
command.txt

# test file
test.ipynb
test.py

# Auxiliary files when compiling LaTeX 
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.idx
**/*.ind
**/*.ilg
**/*.docx
